{% extends 'base.html' %}

{% block meta %}
<title>Pendaftaran Tim</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    h1 {
        text-align: center;
        margin-top: 50px;
    }
    form {
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }
    input[type="text"] {
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    label {
        text-align: center;
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>

<body>
  {% include 'navbar_manajer.html' %}
    <h1><b>FORM REGISTRASI</b></h1> <br>
    <form action="/mengelolatim/create_tim/" method="post">
        {% csrf_token %}
        <label>Nama Tim:</label>
        <input type="text" id="nama_tim" name="nama_tim">
        <br>
        <br>
        <label>Nama Universitas:</label>
        <input type="text" id="nama_universitas" name="nama_universitas">
        <br>
        <br>
        <div style="display: flex; align-items: center; justify-content: center;">
            <input type="submit" value="DAFTAR">
        </div>
    </form>
</body>

{% endblock content %}