{% extends 'base.html' %}

{% block meta %}
<title>Tim</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    h1 {
        text-align: center;
        margin-top: 50px;
    }
    h2 {
        text-align: center;
        margin-top: 50px;
    }
    table {
      margin: 20px auto;
      border-collapse: collapse;
      width: 100%;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
    button {
        background-color: #4caf50;
        color: white;
        padding: 10px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }
    .btn-container {
        text-align: center;
    }
</style>

<body>
    <h1><b>{{nama_tim}} - {{nama_univ}}</b></h1>
    <h2><b>Pemain</b></h2>
    <table class="min-w-full divide-y divide-gray-200">
        <tr>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Nama Pemain</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">No HP</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Tanggal Lahir</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Is Captain</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Posisi</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">NPM</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Jenjang</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Action</th>
        </tr>
        {% for i in pemain %}
        <tr>
            <td class="py-4 px-6">{{i.nama_pemain}}</td>
            <td class="py-4 px-6">{{i.no_hp}}</td>
            <td class="py-4 px-6">{{i.tanggal_lahir}}</td>
            <td class="py-4 px-6">{{i.is_captain}}</td>
            <td class="py-4 px-6">{{i.posisi}}</td>
            <td class="py-4 px-6">{{i.npm}}</td>
            <td class="py-4 px-6">{{i.jenjang}}</td>
            <td class="py-4 px-6">
                {% if i.is_captain == True %}
                <button>Delete</button>
                {% else %}
                <a href="/mengelolatim/make_captain/{{i.id_pemain}}"><button> Make Captain</button></a>
                <a href="/mengelolatim/delete_pemain/{{i.id_pemain}}"><button>Delete</button></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2><b>Pelatih</b></h2>
    <table class="min-w-full divide-y divide-gray-200">
        <tr>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Nama Pelatih</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">No HP</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Email</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Alamat</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Spesialisasi</th>
            <th class="py-3 px-6 bg-gray-100 text-black-600">Action</th>
        </tr>
        {% for i in pelatih %}
        <tr>
            <td class="py-4 px-6">{{i.nama_pelatih}}</td>
            <td class="py-4 px-6">{{i.no_hp}}</td>
            <td class="py-4 px-6">{{i.email}}</td>
            <td class="py-4 px-6">{{i.alamat}}</td>
            <td class="py-4 px-6">{{i.spesialisasi}}</td>
            <td class="py-4 px-6">
                <a href="/mengelolatim/delete_pelatih/{{i.id_pelatih}}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table> <br>
    <br>
    <div class="btn-container">
        <a href="daftar_pemain/">
            <button type="button" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Tambah Pemain</button>
        </a>
        <br>
        <br>
        <a href="daftar_pelatih/">
            <button type="button" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Tambah Pelatih</button>
        </a>
        <br>
        <br>
    </div>
</body>

{% endblock content %}