{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}
<head>
	<title>Peminjaman Stadium</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 2px solid #000000;
            text-align: middle;
            padding: 8px;
        }
    </style>
</head>
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">List Pertandingan</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="5">LIST PERTANDINGAN</th>
            </tr>
            <tr>
                <th scope="col">Tim</th>
                <th scope="col">Waktu</th>
                <th scope="col">Pemenang</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A VS I</td>
                <td>28 July 2023, 13:00</td>
                <td>A</td>
                <td>
                    <table>
                        <tr>
                          <td><a href="#" class="btn btn-outline-primary btn-sm">Lihat Peristiwa Tim 1</a></td>
                        </tr>
                        <tr>
                          <td><a href="#" class="btn btn-outline-primary btn-sm">Lihat Peristiwa Tim 2</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>? VS ?</td>
                <td>[Waktu Dimulai -5 Menit]</td>
                <td>-</td>
                <td><a href="#" class="btn btn-outline-primary btn-sm">Mulai</a></td>
            </tr>
            <tr>
                <td>? VS ?</td>
                <td>10 July 2023, 12:00</td>
                <td>-</td>
                <td>Belum Waktunya</td>
            </tr>
            <tr>
                <td colspan="5" align="center"><a href="#" class="btn btn-primary">Save</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}