{% extends 'base.html' %}

{% block meta %}
    <title>Buat Pertandingan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #666;
        }

        select {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block content %}

<body>
    {% include 'navbar_manajer.html' %}
    <br><br>

    <h1>BUAT PERTANDINGAN</h1>
    <form action="/pembuatan_pertandingan/submit_pertandingan/{{id_pertandingan}}" method="POST">
        {% csrf_token %}

        <label>Stadium:</label>
        <select name="id-stadium" id="id-stadium">
            {% for stadium in stadiums %}
            <option value="{{ stadium.0 }}">{{ stadium.1 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Tanggal:</label>
        <input type="date" id="tanggal-calendar">

        <br><br>

        <label>Pilih Wasit Utama:</label>
        <select name="wasit-utama" id="wasit-utama">
            {% for wasit in wasits %}
            <option value="{{ wasit.0 }}">{{ wasit.1 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Pilih Wasit Pembantu/Hakim Garis:</label>
        <select name="wasit-pembantu1" id="wasit-pembantu1">
            {% for wasit in wasits %}
            <option value="{{ wasit.0 }}">{{ wasit.1 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Pilih Wasit Pembantu/Hakim Garis:</label>
        <select name="wasit-pembantu2" id="wasit-pembantu2">
            {% for wasit in wasits %}
            <option value="{{ wasit.0 }}">{{ wasit.1 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Pilih Wasit Cadangan:</label>
        <select name="wasit-cadangan" id="wasit-cadangan">
            {% for wasit in wasits %}
            <option value="{{ wasit.0 }}">{{ wasit.1 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Tim 1:</label>
        <select name="tim1" id="tim1">
            {% for tim in tims %}
            <option value="{{ tim.1 }}">{{ tim.0 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Tim 2:</label>
        <select name="tim2" id="tim2">
            {% for tim in tims %}
            <option value="{{ tim.1 }}">{{ tim.0 }}</option>
            {% endfor %}
        </select>

        <br><br>

        <div class="button">
            <input type="submit" value="SUBMIT" style="text-align: center;">
        </div>
    </form>

    
<script>
    document.getElementById("myDropdown").selectedIndex = 1; // Set Option 2 as the default selection
  </script>

    
</body>

{% endblock content %}