<!DOCTYPE html>
<html>

<head>
  <title>List Pertandingan</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h2 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    .button {
      padding: 6px 10px;
      font-size: 14px;
    }

    .notification {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f0f0f0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 9999;
    }
  </style>
</head>

<body>
  <h2>LIST PERTANDINGAN</h2>
  <table>
    <thead>
      <tr>
        <th>Grup A</th>
        <th>Action</th>
        <th>Grup B</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="grupa1" value="{{pertandingans.0.0}}">{{pertandingans.0.1}} vs {{pertandingans.1.1}}</td>
        <td id="action1"></td>
        <td id="grupb1" value="{{pertandingans.8.0}}">{{pertandingans.8.1}} vs {{pertandingans.9.1}}</td>
        <td id="action2"></td>
      </tr>
      <tr>
        <td id="grupa2" value="{{pertandingans.2.0}}">{{pertandingans.2.1}} vs {{pertandingans.3.1}}</td>
        <td id="action3"></td>
        <td id="grupb2" value="{{pertandingans.10.0}}">{{pertandingans.10.1}} vs {{pertandingans.11.1}}</td>
        <td id="action4"></td>
      </tr>
      <tr>
        <td id="grupa3" value="{{pertandingans.4.0}}">{{pertandingans.4.1}} vs {{pertandingans.5.1}}</td>
        <td id="action5"></td>
        <td id="grupb3" value="{{pertandingans.12.0}}">{{pertandingans.12.1}} vs {{pertandingans.13.1}}</td>
        <td id="action6"></td>
      </tr>
      <tr>
        <td id="grupa4" value="{{pertandingans.6.0}}">{{pertandingans.6.1}} vs {{pertandingans.7.1}}</td>
        <td id="action7"></td>
        <td id="grupb4" value="{{pertandingans.14.0}}">{{pertandingans.14.1}} vs {{pertandingans.15.1}}</td>
        <td id="action8"></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Grup C</th>
        <th>Action</th>
        <th>Grup D</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="grupc1" value="{{pertandingans.16.0}}">{{pertandingans.16.1}} vs {{pertandingans.17.1}}</td>
        <td id="action9"></td>
        <td id="grupd1" value="{{pertandingans.24.0}}">{{pertandingans.24.1}} vs {{pertandingans.25.1}}</td>
        <td id="action10"></td>
      </tr>
      <tr>
        <td id="grupc2" value="{{pertandingans.18.0}}">{{pertandingans.18.1}} vs {{pertandingans.19.1}}</td>
        <td id="action11"></td>
        <td id="grupd2" value="{{pertandingans.26.0}}">{{pertandingans.26.1}} vs {{pertandingans.27.1}}</td>
        <td id="action12"></td>
      </tr>
      <tr>
        <td id="grupc3" value="{{pertandingans.20.0}}">{{pertandingans.20.1}} vs {{pertandingans.21.1}}</td>
        <td id="action13"></td>
        <td id="grupd3" value="{{pertandingans.28.0}}">{{pertandingans.28.1}} vs {{pertandingans.29.1}}</td>
        <td id="action14"></td>
      </tr>
      <tr>
        <td id="grupc4" value="{{pertandingans.22.0}}">{{pertandingans.22.1}} vs {{pertandingans.23.1}}</td>
        <td id="action15"></td>
        <td id="grupd4" value="{{pertandingans.30.0}}">{{pertandingans.30.1}} vs {{pertandingans.31.1}}</td>
        <td id="action16"></td>
      </tr>
    </tbody>
  </table>

  <div id="myNotification" class="notification">
    <p id="myNotificationText">Warning!</p>
  </div>

  <script>
    var teamCells = document.querySelectorAll('td[id^="grupa"], td[id^="grupb"], td[id^="grupc"], td[id^="grupd"]');
    var actionCells = document.querySelectorAll('td[id^="action"]');

    for (var i = 0; i < teamCells.length; i++) {
      var teamCell = teamCells[i];
      var actionCell = actionCells[i];
      // console.log(teamCell.getAttribute('value'))

      if (teamCell.innerHTML.trim() === '? vs ?') {
        // ADD
        var addButton = document.createElement('div');
        addButton.className = 'button';

        var inputElement = document.createElement('input');
        inputElement.type = 'submit';
        inputElement.value = 'Add';
        inputElement.style.textAlign = 'center';

        addButton.appendChild(inputElement);

        actionCell.appendChild(addButton);
      } else {
        // UPDATE
        var formUpdate = document.createElement('form');
        formUpdate.action = 'create_pertandingan/' + teamCell.getAttribute('value') + '/';
        formUpdate.method = 'POST';

        var updateButton = document.createElement('div');
        updateButton.className = 'button';

        var inputElement = document.createElement('input');
        inputElement.type = 'submit';
        inputElement.value = 'Update';
        inputElement.method = 'POST';
        inputElement.style.textAlign = 'center';

        updateButton.appendChild(inputElement);
        formUpdate.appendChild(updateButton);
        actionCell.appendChild(updateButton);

        updateButton.addEventListener('click', function () {
          window.location.href = "buat_pertandingan/" + teamCell.getAttribute('value') + "/";
        });

        // DELETE
        var formDelete = document.createElement('form');
        formDelete.action = 'delete_pertandingan/' + teamCell.getAttribute('value') + '/';
        formDelete.method = 'POST';

        var csrfTokenElementDelete = document.createElement('input');
        csrfTokenElementDelete.type = 'hidden';
        csrfTokenElementDelete.name = 'csrfmiddlewaretoken';
        csrfTokenElementDelete.value = '{{ csrf_token }}';

        formDelete.appendChild(csrfTokenElementDelete);

        var deleteButton = document.createElement('div');
        deleteButton.className = 'button';

        var inputElement = document.createElement('input');
        inputElement.type = 'submit';
        inputElement.value = 'Delete';
        inputElement.style.textAlign = 'center';

        deleteButton.appendChild(inputElement);
        formDelete.appendChild(deleteButton)

        actionCell.appendChild(formDelete);

        // deleteButton.addEventListener('click', function () {

        //   var row = this.parentNode.parentNode;
        //   var groupId = row.querySelector('td[id^="grupa"]');
        //   var groupAction = row.querySelector('td[id^="action"]');
        //   var row_id = pertandingans_json[0].substring(7, 43);
        //   console.log('delete clicked')

        //   var xhr = new XMLHttpRequest();
        //   xhr.open('POST', '/delete_pertandingan/' + row_id + '/');
        //   console.log(xhr.statusText)
        //   console.log(pertandingans_json[0])

        //   xhr.onreadystatechange = function () {
        //     if (xhr.readyState === XMLHttpRequest.DONE) {
        //       console.log(xhr.status);
        //       if (xhr.status === 200) {
        //         // create pop up message
        //         groupId.innerHTML = '? vs ?';

        //       } else {
        //         // Handle the error condition
        //         var notification = document.getElementById("myNotification");
        //         notification.style.display = "block";

        //         // Hide the notification after 3 seconds
        //         setTimeout(function () {
        //           notification.innerHTML = "Gagal menghapus pertandingan";
        //         }, 3000);
        //       }
        //     }
        //   };
        //   xhr.send();
        // });
      }
    }
  </script>
</body>

</html>