<!DOCTYPE html>
<html>
<head>
	<title>Pilih Pertandingan</title>
</head>
<body>
    <iframe src="../navbar/navbar_logged_in_panitia.html" frameborder="0" scrolling="no" width="100%" height="50"></iframe>

    <h1>Pilih Pertandingan</h1>

	<table border="1">
		<thead>
			<tr>
				<th>Tim Bertanding</th>
				<th>Stadium</th>
				<th>Tanggal dan Waktu</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>The Vipers vs The Lions</td>
				<td>Wembley Stadium</td>
				<td>[]</td>
				<td><button onclick="window.location.href='RapatPage.html'">Mulai Rapat</button></td>
			</tr>
			
		</tbody>
	</table>
</body>
</html>