{% extends 'base.html' %}

{% block content %}
{% include 'navbar_manajer.html' %}


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto my-8">
        <h1 class="text-3xl text-center font-bold mb-4">List Pemesanan</h1>

        <div class="mt-8">
            <table class="w-full border-collapse border border-gray-300">
                <thead>
                    <tr>
                        <th class="py-2 px-4 bg-green-700 text-white">Stadium</th>
                        <th class="py-2 px-4 bg-green-700 text-white">Waktu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pemesanan in pemesanan_list %}
                    <tr class="border">
                        <td class="py-2 px-4">{{ pemesanan.nama_stadium }}</td>
                        <td class="py-2 px-4">{{ pemesanan.start_datetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-16 flex justify-center">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full" type="submit" onclick="location.href='/peminjaman_stadium/pilih_stadium'">Pesan</button>
        </div>
    </div>
</body>

{% endblock content %}
