{% extends 'base.html' %}

{% block content %}
{% include 'navbar_manajer.html' %}


<head>
    <meta charset="UTF-8">
    <title>PEMINJAMAN STADIUM</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto my-8">
        <h1 class="text-3xl flex justify-center font-bold mb-4">PEMINJAMAN STADIUM</h1>

        <form id="stadiumForm" class="mx-auto w-full max-w-lg" action="{% url 'peminjaman_stadium:add_pemesanan' %}" method="POST">
            {% csrf_token %}
            <!-- tambah action janlup -->
            <div class="flex flex-wrap mb-6;">
                <label class="w-full mb-2" for="form">Stadium:</label>

                <select id="id_stadium" name="id_stadium" class="border border-gray-400 p-2 rounded-lg">
                    {% for stadium in stadium_list %}
                    <option value="{{ stadium.id_stadium }}">{{ stadium.nama_stadium }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex flex-wrap mb-6;">
                <label class="w-full mb-2"  for="form">Tanggal:</label>
                <input type="date" class="border border-gray-400 p-2 rounded-lg" id="date" name="date">
            </div>

            <div class="flex items-center justify-center">
                <button id="idSubmit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg" type="submit" >Submit</button>
            </div>
        </form>
    </div>
</body>

{% endblock content %}
